*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Raleway-Regular';
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    background-color: black;
    color: $color-text;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
// Global container for each page
.wrap{
    position: relative;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
main{    
    min-height: 100%;
    text-align:center;
    padding-bottom: 50px;
    padding-top: 5vh;
    @include lg{
        padding-top: 10vh;
    }

}
.main-container{
    //position: absolute;//
    width: 100%;
    min-height: 100%;  
    padding-top: 5vh;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    @include lg{
        margin-top: 0;
        position: static;
    }
}
p{
    width: 50%;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}
h2{
    width: 80%;
    height: auto;
    font-size: 2vw;
    margin: 50px auto;
    letter-spacing: 0.2rem;
}



