// télechargement de la typo avec les deux graisses voulues
@font-face{
    font-family: "Raleway-Regular";
    src: url('../font/Raleway-Regular.ttf');
    font-weight: normal;
    font-weight:400;
    font-style: normal;
}



