//Flexbox
.flex-container{
    width: calc( 100% - 1rem);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;     
    align-items: center;
    margin: 0 auto;
    @include lg{
        flex-direction: row;
    }

}
.col{
    width: calc( 100% - 1rem);
    height: 320px;
    transition: width ease 1s;

            @include md{
                width: calc( 50% - 1rem);
                height: 320px;
                transition: width ease 1s;
            }
 
            @include lg{
                width: calc( 50% - 1rem);
                height: 320px;
                transition: width ease 1s;
            }

            @include xl{
                width: calc( 33.33333% - 1rem);
                height: 320px;
                transition: width ease 1s;
            }
}


.col-6{
    width: calc( 100% - 1rem);
    @include lg{
    width: calc( 50% - 1rem);
    height: auto;
    }
    
}


