footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    p{  
        opacity: 1;
        font-size: 1.6rem;
        text-align: center;
        margin: 0 auto;
        @include lg{
            text-align: left;
            margin-left: 2vw;
            transform: translateX(0%);
            -ms-transform:translateX(0%); /* IE 9 */
            -webkit-transform: translateX(0%); /* Safari 3-8 */

        }

    }
}