nav{
    position: absolute;
    top: 0vh;
    width: 100%;
    height: 100vh;
    margin:0;
    overflow-y: hidden;

        @include lg{
            position: static;
            width: 60%;
            height: auto;
            height: auto;  
            z-index: 0;
        }
        span{
            font-size: 4vw;
            line-height: 1rem;
            margin-top: $size-vh*10;
            margin-left: 3vw;
            display: inline-block;
            z-index: 10006;
            @include lg{
                display: none;
            }
        }
    .nav-div{
        height: 100% ;
        display: block;
        background-color: black;
        margin-top: 0vh;
        visibility: hidden;
        @include lg{
            opacity: 1;
            margin-left: 3vw;
            margin-top: 0;
            visibility: visible;
        }
  
    .container-menu{  //ul
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;//
        text-align: left;
        @include lg{
            flex-direction: row;
            justify-content: flex-start;
            text-align: left;
            padding-top: 0vh;
        }
        li{
            list-style-type: none;
            display: inline-block; 
            width: auto; 
            margin-top: 2vh;
            margin-left: 5vw;
            @include lg{
                margin-top: 0vh;
                margin-left: 0vw;
            }
            a{
                position: relative;
                font-size: 1.3rem;
                text-decoration: none;
                color: inherit;
                margin: 0 1vw;
                @include lg{
                    font-size: 0.8rem;
                    letter-spacing: 0.2rem;
                }
                &:after{
                    content: '';
                    border-bottom: 1px solid $color-text;
                    position: absolute;
                    left:50%;
                    top: 90%;
                    width: 0%;
                    transition: all ease-in-out 0.2s;
                }
                &:hover::after{
                    left: 0;
                    width: 100%;
                }
                 
            }
        }
    }
}
}
.nav-invisible{
    z-index: -1;
    visibility: hidden;
    height: 1vh;
    background-color: green;
}
.nav-visible{
    z-index: 10005;
    

}