
.container-contact{
    width: calc(100% - 4vw);
    height: auto;
    padding-left: 5vw;
    text-align: left;
    position: relative;
}
// a changer
.title-contact{
    opacity: 1;
    width: 100%;
    height: auto;
    font-size: 3vw;
    color: $color-text;
    transform: translateX(0%);
    margin-bottom: 2rem;
}

.link-contact{
    position: relative;
    font-size: 3vw;
    color: $color-text;
    text-decoration: none;
        &:after {
            content: '';
            border-bottom: 2px solid $color-text;
            position: absolute;
            left:50%;
            top: 90%;
            width: 0%;
            transition: all ease-in-out 0.2s;
        }
        &:hover::after{
            left: 0;
            width: 100%;
        }
}

