//Flexbox
.flex-container{
    width: calc( 100% - 1rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;     
    align-items: center;
    margin: 0 auto;
}
.col-4{
    width: calc( 33.33333% - 1rem);
    height: 320px;
}
.container-post{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.container-thumbnail{
    width: 100%;
    height: 90%;
    position: relative;
    top: 0;
    left: 0; 
}
.post-background{
    position: absolute;
    right: 0;
    width: 0px;
    height: 100%;
    background-color: black;
    transition: width ease-in-out 0.5s;
}
.post-background--open{
    @include lg{
        width: 100%;
        z-index: 100;
    }
}
.center-image{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    margin: 0 auto;
    transition: transform ease 0.3s, height ease 0.3s;
    transition: height ease 0.3s;
    overflow: hidden;
}
.image{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform:translate(-50%,0);
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}
.container-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    transform:matrix(0.00,0.00,0.00,1.00,0,0);
    -ms-transform:matrix(0.00,0.00,0.00,1.00,0,0);
    -webkit-transform:matrix(0.00,0.00,0.00,1.00,0,0);
    transition: transform linear 0.05s;
    transition: height ease 0.3s;
    z-index: -1;
    span{
        font-size: 0.6rem;
    }

}
.text-line{
    width: 5px;
    height: 50%;
    border-left: 1px solid $color-text;
    margin: 0 auto;
    transition: height ease 0.2s;
}

.container-thumbnail:hover {
    @include lg{
    .container-text {
    //apparition du texte
        transform:matrix(1.00,0.00,0.00,1.00,0,-30);
        -ms-transform:matrix(1.00,0.00,0.00,1.00,0,-30);
        -webkit-transform:matrix(1.00,0.00,0.00,1.00,0,-30);
    //hauteur du conteneur
        height: 70px;
    }
   .center-image{
    // monter limage
        transform:matrix(1.00,0.00,0.00,1.00,0,-0.05);
        -ms-transform:matrix(1.00,0.00,0.00,1.00,0,-0.05);
        -webkit-transform:matrix(1.00,0.00,0.00,1.00,0,-0.05);
    //réduir la hauteur
        height: 180px;
    }
    .text-line{
        height: 60%;
    }
}
}

    .click-image{
        @include lg{
        position: fixed;
        top:50%;
        left: 50%;
        transform:translate(-50%,-50%) scale(1.3,1.3);
        -ms-transform:translate(-50%,-50%) scale(1.3,1.3);
        -webkit-transform:translate(-50%,-50%) scale(1.3,1.3);
        z-index: 1000;
        }
    }
.container-text--color{
    opacity: 0;
   
}


