  
figure{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
figure img {
    opacity: 0;
    transform: translateX(75%);
    -ms-transform:translateX(75%); /* IE 9 */
    -webkit-transform: translateX(75%); /* Safari 3-8 */
    transition: all ease 0.5s;
 
  }

 p{
   margin: 30px auto;
   font-size: 5vw;

    @include lg{
      font-size: 2vw;
      opacity: 0;
      transform: translateX(-75%);
      -ms-transform:translateX(-75%); /* IE 9 */
      -webkit-transform: translateX(-75%); /* Safari 3-8 */
      transition: transform ease 0.5s, opacity ease 0.7s;
    }
 
  }
.contentp-appear--visible{
  opacity: 1;
  transform: translateX(-25%);
  -ms-transform:translateX(-25%); /* IE 9 */
  -webkit-transform: translateX(-25%); /* Safari 3-8 */
}
.content-appear--visible{
  opacity: 1;
  transform: translateX(25%);
  -ms-transform:translateX(25%); /* IE 9 */
  -webkit-transform: translateX(25%); /* Safari 3-8 */


}  

